body {
    margin: 0;
    padding: 0;
    color: #1b1b1b;
    font-family: 'Poppins', sans-serif;
}

#main {
    margin: 0;
    display: grid;
}

#top_bar {
    font-size: 17px;
    background-color: #1b1b1b;
    color: #a4a4a4;
    height: 100px;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 300px 160px 160px 160px 160px;
    grid-template-rows: 100px;
    gap: 50px;
    padding-left: 15%;
    opacity: 0.99;
}

#meat {
    padding-top: 100px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: 200px 200px 200px 200px;
    padding-left: 20%;
    padding-bottom: 50px;
}


#top_bar a {
    color: #a4a4a4;
    text-decoration: none;
}

#top_bar span {
    font-size: 16px;
    padding-top: 40px;
    text-align: center;
}

#top_bar img {
    width: 300px;
    height: 90px;
}

#top_bar :hover {
    color: rgb(54, 184, 54);
}

#footer {
    background-color: #1b1b1b;
    display: grid;
    grid-template-columns: 350px 300px 300px;
    color: #a4a4a4;
    width: 100%;
    height: 200px;
    padding-left: 20%;
    bottom: 0;
    left: 0;
}

#left p {
    height: 15px;
    border-left: 20px solid #1b1b1b;
}

#center span {
    color: rgb(54, 184, 54);
}

#right img {
    margin-top: 20px;
}
