body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
}

#main {
    margin: 0;
    display:grid;
}

#top_bar {
    font-size: 17px;
    background-color: #1b1b1b;
    color: #a4a4a4;
    height: 100px;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 300px 160px 160px 160px 160px;
    grid-template-rows: 100px;
    gap: 50px;
    padding-left: 15%;
    opacity: 0.99;
}
#top_bar a {
    color: #a4a4a4;
    text-decoration: none;
}

#top_bar span {
    font-size: 16px;
    padding-top: 40px;
    text-align: center;
}

#top_bar img {
    width: 300px;
    height: 90px;
}

#top_bar :hover {
    color: rgb(54, 184, 54);
}


#header {
    background-image:url(/Sklep/graphics/kontakt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    text-align:left;
    margin-top: 100px;
    color: #fff;   
    text-shadow: #1b1b1b 0.2em 0.2em 0.2em;
}

#header h2 {
    font-size: 60px;
    padding-left: 20%;
}

#meat {
    display: grid;
    grid-template-columns: 700px 300px;
    grid-template-rows: 500px 500px;
    gap: 50px;
    font-size: 16px;
    padding-left: 20%;
}

#meat_left {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 50px 150px 150px 150px;
}

#meat_left img {
    width: 16px;
    height: 16px;
    padding-right: 10px;
}

#footer {
    background-color: #1b1b1b;
    display: grid;
    grid-template-columns: 350px 300px 300px;
    color: #a4a4a4;
    width: 100%;
    height: 200px;
    padding-left: 20%;
    margin-top: 50px;
    bottom: 0;
    left: 0;
}

#left a {
    text-decoration: none;
    color: #a4a4a4;
}

#left p {
    margin-bottom: 0;
}

#left img {
    width: 16px;
    height: 16px;
    padding-right: 10px;
}

#center span {
    color: rgb(54, 184, 54);
}

#right img {
    margin-top: 20px;
}