body {
    margin: 0;
    background-image: url(masthead@2x.jpg);
    background-position: top center;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    font-family: robotobold_condensed;
}

#main {
    margin: 0;
    display: grid;
}

#top_bar {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns:  40% 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px;
    gap: 5px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 30%;
    font-size: 20px;
}

#buttons {
    height: 40;
    width: 95;
}




